/* client/src/index.css */

/* Remove todas as margens e paddings padrão */
body,
html,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  box-sizing: border-box; /* Faz o gerenciamento de tamanho ser mais fácil */
}

/* Garante que o box-sizing seja herdado */
*,
*:before,
*:after {
  box-sizing: inherit;
}