# Ignora TODAS as pastas node_modules
**/node_modules

# Ignora arquivos de ambiente (MUITO IMPORTANTE para senhas de banco)
.env
*.env
.env.*

# Ignora pastas de build/distribuição
**/dist
**/build

# Ignore arquivos do sistema operacional
.DS_Store
Thumbs.db

# Ignora arquivos do VSCode
.vscode/